@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-container {
    @apply w-full mx-auto p-8;
  }
  .heading-3 {
    @apply text-lg font-bold text-[#424651];
  }
  .heading-4 {
    @apply text-base font-bold text-[#424651];
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 22px;
  /* line-height: 1; */
  opacity: 0.75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropDownTitle > span {
  font-size: medium;
  font-weight: 700;
  color: #001534;
}
