@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-container {
    @apply w-full mx-auto p-8;
  }
  .heading-3 {
    @apply text-lg font-bold text-[#424651];
  }
  .heading-4 {
    @apply text-base font-bold text-[#424651];
  }
}

/* slick style => we don't use react-slick now  */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 22px;
  /* line-height: 1; */
  opacity: 0.75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropDownTitle > span {
  font-size: medium;
  font-weight: 700;
  color: #001534;
}

/********** swiper custom style  *************/

/* recent leads style start */
.myRecentLeadsSwiper > .swiper-button-prev {
  left: 0px !important;
  z-index: 50 !important;
}
.myRecentLeadsSwiper > .swiper-button-next {
  right: 0px !important;
  z-index: 50 !important;
}
.myRecentLeadsSwiper > .swiper-button-prev,
.myRecentLeadsSwiper > .swiper-button-next {
  /* background: black; */
  border: 1px solid #000000;
  color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.myRecentLeadsSwiper > .swiper-button-prev:after {
  content: "prev";
  font-size: 11px !important;
  font-weight: 1000;
}
.myRecentLeadsSwiper > .swiper-button-next:after {
  content: "next";
  font-size: 11px !important;
  font-weight: 1000;
}
/* recent leads style end */

/* websites style start */
.mySwiper > .swiper-button-prev {
  left: 26px !important;
}
.mySwiper > .swiper-button-next {
  right: 26px !important;
}
.mySwiper > .swiper-button-prev,
.mySwiper > .swiper-button-next {
  /* background: #000; */
  border: 2px solid #000000;
  color: #000000;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.mySwiper > .swiper-button-prev:after {
  content: "prev";
  font-size: 13px !important;
  font-weight: 1000;
}
.mySwiper > .swiper-button-next:after {
  content: "next";
  font-size: 13px !important;
  font-weight: 1000;
}
/* websites style end */

/* Edit Microsite style start */
.editMicrositeSwiper > .swiper-button-prev {
  left: -26px !important;
}
.editMicrositeSwiper > .swiper-button-next {
  right: -26px !important;
}
.editMicrositeSwiper > .swiper-button-prev,
.editMicrositeSwiper > .swiper-button-next {
  /* background: #000; */
  border: 2px solid #000000;
  color: #000000;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.editMicrositeSwiper > .swiper-button-prev:after {
  content: "prev";
  font-size: 13px !important;
  font-weight: 1000;
}
.editMicrositeSwiper > .swiper-button-next:after {
  content: "next";
  font-size: 13px !important;
  font-weight: 1000;
}
/* websites style end */

/* .react-international-phone-input {
  background: #808080 !important;
  width: 100% !important;
} */

/* phone number input for profile page custom css start */
.react-international-phone-input {
  width: 100% !important; /* w-full */
  border: 1px solid #ede8e8 !important; /* border border-[#ede8e8] */
  border-start-end-radius: 0.75rem !important; /* rounded-xl */
  border-end-end-radius: 0.75rem !important; /* rounded-xl */
  padding-top: 0.5rem !important; /* py-2 (top and bottom padding) */
  padding-bottom: 0.5rem !important; /* py-2 (top and bottom padding) */
  color: #4a5568 !important; /* text-gray-700 */
  background-color: #f3f4f6 !important; /* bg-gray-100 */
  font-size: 100% !important;
}

.react-international-phone-input:focus {
  border-color: #e5e0e0 !important; /* focus:border-[#e5e0e0] */
  outline: none !important; /* focus:outline-none */
}

.react-international-phone-country-selector-button {
  height: 100% !important;
  padding-left: 6px !important;
}

.react-international-phone-input-container .react-international-phone-input {
  height: auto !important;
}

.react-international-phone-flag-emoji {
  width: var(--react-international-phone-flag-width, 30px) !important;
  height: var(--react-international-phone-flag-height, 30px) !important;
}
/* phone number input for profile page custom css end */

/* places input custom css for profile page start  */
.css-13cymwt-control {
  border-color: #ede8e8 !important;
  box-shadow: #ede8e8 !important;
  border-radius: 13px !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  background-color: #f3f4f6 !important;
  padding-left: 4px;
}
.css-13cymwt-control:hover {
  border-color: #ede8e8 !important;
  background-color: #f3f4f6 !important;
}
.css-t3ipsp-control {
  border-color: #ede8e8 !important;
  box-shadow: 0 0 0 0px#ede8e8 !important;
  background-color: #f3f4f6 !important;
  border-radius: 13px !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 4px;
}
.css-t3ipsp-control:focus {
  border-color: #ede8e8 !important;
}
.css-t3ipsp-control:hover {
  border-color: #ede8e8 !important;
}
/* places input custom css for profile page end  */

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
