@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-container {
    @apply w-full mx-auto p-8;
  }
  .heading-3 {
    @apply text-lg font-bold text-[#424651];
  }
  .heading-4 {
    @apply text-base font-bold text-[#424651];
  }
}

/* slick style => we don't use react-slick now  */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 22px;
  /* line-height: 1; */
  opacity: 0.75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropDownTitle > span {
  font-size: medium;
  font-weight: 700;
  color: #001534;
}

/********** swiper custom style  *************/

/* recent leads style start */
.myRecentLeadsSwiper > .swiper-button-prev {
  left: 0px !important;
  z-index: 50 !important;
}
.myRecentLeadsSwiper > .swiper-button-next {
  right: 0px !important;
  z-index: 50 !important;
}
.myRecentLeadsSwiper > .swiper-button-prev,
.myRecentLeadsSwiper > .swiper-button-next {
  /* background: black; */
  border: 1px solid #000000;
  color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.myRecentLeadsSwiper > .swiper-button-prev:after {
  content: "prev";
  font-size: 11px !important;
  font-weight: 1000;
}
.myRecentLeadsSwiper > .swiper-button-next:after {
  content: "next";
  font-size: 11px !important;
  font-weight: 1000;
}
/* recent leads style end */

/* websites style start */
.mySwiper > .swiper-button-prev {
  left: 26px !important;
}
.mySwiper > .swiper-button-next {
  right: 26px !important;
}
.mySwiper > .swiper-button-prev,
.mySwiper > .swiper-button-next {
  /* background: #000; */
  border: 2px solid #000000;
  color: #000000;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.mySwiper > .swiper-button-prev:after {
  content: "prev";
  font-size: 13px !important;
  font-weight: 1000;
}
.mySwiper > .swiper-button-next:after {
  content: "next";
  font-size: 13px !important;
  font-weight: 1000;
}
/* websites style end */

/* Edit Microsite style start */
.editMicrositeSwiper > .swiper-button-prev {
  left: -26px !important;
}
.editMicrositeSwiper > .swiper-button-next {
  right: -26px !important;
}
.editMicrositeSwiper > .swiper-button-prev,
.editMicrositeSwiper > .swiper-button-next {
  /* background: #000; */
  border: 2px solid #000000;
  color: #000000;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.editMicrositeSwiper > .swiper-button-prev:after {
  content: "prev";
  font-size: 13px !important;
  font-weight: 1000;
}
.editMicrositeSwiper > .swiper-button-next:after {
  content: "next";
  font-size: 13px !important;
  font-weight: 1000;
}
/* websites style end */
